{% extends 'base.html' %}
{% block sumon %}
    <h1 style="text-align:center;padding:10px;">Welcome To My Quotes Blog</h1>
    <div class="container">
        {% for quote in object_list %}
    <div class="card">
  <div class="card-header">
    {{quote.quote_category.title}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{quote.quote}}</p>
      <footer class="blockquote-footer">{{quote.author}}</footer>
    </blockquote>
  </div>
</div>
        <br>
        {% endfor %}
    </div>
{% endblock %}